canvas {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 50px;
    padding-right: 100px;
}

.editor {
    position: fixed;
    box-sizing: content-box;
    margin-top: 50px;
    margin-left: 20px;
    width: 50vw;
    height: 80vh;
    border: 1px solid grey;
}
  